<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PSS32 SNMP Index</title>

    <link rel="icon" type="image/png" href="pss32index.png" sizes="32x32" />
    <link href="css/style.css" rel="stylesheet">
    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>

    <!--<script src="js/scripts/hashmap.js"></script>-->
    <script src="js/app.js?t=1"></script>
    <script src="js/services/logger.service.js?t=1"></script>
    <script src="js/services/pss32-index-util.service.js?t=1"></script>
    <script src="js/main/main-controller.js?t=1"></script>
    <script src="js/directives/pss32-index-parser-unit.js?t=1"></script>
    <script src="js/directives/pss32-index-generator-unit.js?t=1"></script>
</head>

<body ng-app="starter" ng-controller="MainController as vm">
<div class="row" style="margin:0px 0px 0px 10px;padding:0px 0px 0px 10px">
    <div class="col-sm-5" style="margin:0px;padding:0px">
        <div class="row">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-11">
                <div style="width:100%; height:95%;padding: 35px 5px 15px 5px">
                    <div style="position: relative;">
                        <pss32-index-parser-unit ng-repeat="c in vm.parserCount"></pss32-index-parser-unit>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1">
                <div class="form-group">
                    <a ng-click="vm.onAddParser()">
                        <i class="fa fa-plus fa-lg pull-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-7" style="margin:0px;padding:0px">
        <div class="row">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-11">
                <div style="width:100%; height:95%;padding: 15px 5px 10px 5px">
                    <div style="position: relative;">
                        <pss32-index-generator-unit ng-repeat="c in vm.generatorCount"></pss32-index-generator-unit>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-1">
                <div class="form-group">
                    <a ng-click="vm.onAddGenerator()">
                        <i class="fa fa-plus fa-lg pull-right"></i>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>

</body>
</html>
