<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>


    <link href="css/style.css" rel="stylesheet">
    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>

    <!--<script src="js/scripts/hashmap.js"></script>-->
    <script src="js/app.js?t=1"></script>
    <script src="js/services/logger.service.js?t=1"></script>
    <script src="js/services/pss32-index-util.service.js?t=1"></script>
    <script src="js/main/main-controller.js?t=1"></script>
    <script src="js/directives/pss32-index-parser-unit.js?t=1"></script>
</head>

<body ng-app="starter" ng-controller="MainController as vm">
<div style="width:100%; height:95%;padding: 15px 0px">
    <div style="position: relative;">
        <!--<a class="btn btn-warning btn-lg" style="position:absolute;right:50px; top:0px" href="doc.html" target="_blank">
            <i class="fa fa-question-circle fa-fw"></i>&nbsp;命令帮助
        </a>-->
        <pss32-index-parser-unit ng-repeat="c in vm.parserCount"></pss32-index-parser-unit>

        <div class="form-group">

            <a class="col-sm-1" ng-click="vm.onAdd()">
                <i class="fa fa-plus fa-lg"></i>
            </a>
        </div>


    </div>
</div>
</body>
</html>
